name: Test sample apps

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 10.16.3
      uses: actions/setup-node@v1
      with:
        node-version: 10.16.3
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: TOOLS -> install google-chrome-stable
      run: |
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
        sudo apt update
        sudo apt install google-chrome-stable
    - name: TOOLS -> install yo
      run: |
        npm install -g yo
    - name: TOOLS -> display tools
      run: |
        git version
        java -version
        node -v
        npm -v
        docker version
        docker-compose version
        yo --version
    - name: TOOLS -> install JHipster lib
      run: |
        cd $HOME
        git clone https://github.com/jhipster/jhipster.git jhipster
        cd jhipster
        ./mvnw -ntp clean install -DskipTests -Dmaven.javadoc.skip=true -Dgpg.skip=true
    - name: TOOLS -> install JHipster generator
      run: |
        cd $HOME
        git clone https://github.com/jhipster/generator-jhipster.git generator-jhipster
        cd generator-jhipster
        npm ci
        npm link
    - name: TOOLS -> install generator-jhipster-cypress
      run: |
        cd $GITHUB_WORKSPACE
        npm ci
        npm link

    - name: GENERATION -> generate sample app
      run: |
        mkdir $HOME/$JHIPSTER_FOLDER_APP && cd $HOME/$JHIPSTER_FOLDER_APP
        cp $GITHUB_WORKSPACE/test-integration/samples/$JHI_APP/app.jdl .
        jhipster import-jdl app.jdl --no-insight
      env:
        JHIPSTER_FOLDER_APP: jhipster-app
        JHI_APP: default-angular
    - name: GENERATION -> generate cypress files
      run: |
        cd $HOME/$JHIPSTER_FOLDER_APP
        npm link generator-jhipster-cypress
        yo jhipster-cypress
      env:
        JHIPSTER_FOLDER_APP: jhipster-app
    - name: GENERATION -> generate entities
      run: |
        cd $HOME/$JHIPSTER_FOLDER_APP
        cp $GITHUB_WORKSPACE/test-integration/samples/$JHI_APP/entities.jdl .
        jhipster import-jdl entities.jdl --no-insight
      env:
        JHIPSTER_FOLDER_APP: jhipster-app
    - name: GENERATION -> jhipster info
      run: |
        cd $HOME/$JHIPSTER_FOLDER_APP
        jhipster info
      env:
        JHIPSTER_FOLDER_APP: jhipster-app

    - name: TESTS -> Stop mysql service
      run: sudo /etc/init.d/mysql stop
    - name: TESTS -> Start docker-compose containers
      run: $GITHUB_WORKSPACE/test-integration/scripts/20-docker-compose.sh
      env:
        JHIPSTER_FOLDER_APP: jhipster-app
    - name: TESTS -> packaging
      run: $GITHUB_WORKSPACE/test-integration/scripts/23-package.sh
      env:
        JHI_PROFILE: prod
    - name: TESTS -> E2E
      run: $GITHUB_WORKSPACE/test-integration/scripts/24-tests-e2e.sh
      env:
        JHIPSTER_FOLDER_APP: jhipster-app
        JHI_PROFILE: prod
        JHI_APP: jdl-default
